@page
@using MBS.Razor.Pages.AdminPage.StudentPage.Models
@using MBS.Services.Models
@using MBS.Services.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Index

@{
    Layout = "Shared/_LayoutAdmin";
    string pageName = "Index";
    var students = Model.GetTempData<Pagination<StudentModel>>(TempDataKeys.StudentPagination, isKeep: false).Items.ToArray() ?? [];
}


<div class="row h-100 my-4">
    <div class="col-lg-8">
        <div class="card h-auto">
            <div class="row align-items-center m-2">
                <div class="col">
                    <h5>Students</h5>
                </div>
                <div class="col-auto ml-auto d-flex align-items-center">
                    <form class="form-inline border rounded navbar-search shadow-sm" method="post" asp-page-handler="Search">
                        <div class="input-group">
                            <select class="form-control bg-light border-0 small" name="sortOrder" asp-for="SortOrder">
                                <option value="asc" selected>Sort Ascending</option>
                                <option value="desc">Sort Descending</option>
                            </select>

                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2" asp-for="SearchName">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">University</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (!students.Any())
                            {
                                <tr>
                                    <td colspan="8">No students available</td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < students.Count(); i++)
                                {
                                    var student = students[i];
                                    var index = i + 1;
                                    <tr id="@student.Id" role="button" onclick="location.href='@Url.Page(pageName, PageHandlers.ShowStudentDetails, new { studentId = @student.Id })'">
                                        <th scope="row">@index</th>
                                        <td>@student.FullName</td>
                                        <td>@student.Email</td>
                                        <td>@student.University</td>
                                        <td>@student.WalletPoint</td>
                                        <td>
                                            <div class="dropdown no-arrow text-center">
                                                <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-solid fa-image"></i>
                                                </a>
                                                <!-- Dropdown - Alerts -->
                                                <div class="dropdown-list dropdown-menu dropdown-menu-left shadow animated--grow-in"
                                                     aria-labelledby="alertsDropdown">
                                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                                        <div class="me-3">
                                                            <img src="@(student.AvatarUrl ?? "https://via.placeholder.com/150")"
                                                                 alt="Transaction Image" width="150" height="150">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@student.Gender</td>
                                        <td>@student.Birthday?.ToString("MM/dd/yyyy")</td> <!-- Format the date as needed -->
                                        <td>
                                            <span class="badge bg-success text-white">@(student.LockoutEnabled ? "Locked" : "Active")</span>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            @* Pagination Navigaion *@
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
    <div class="col-lg-4 mb-4 h-100">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("StudentDetailPartial", Model)
            </div>
        </div>
    </div>
</div>